:root {
    --border-color: orange;
    --background-color: bisque;
}

div,nav,h1,p,a,span {
    border: 5px double var(--border-color);
    background-color: var(--background-color);
    width: 200px;
    margin: 2px;
}
.ra{
    border-radius: 10px;
    border: 5px dotted var(--border-color);
    text-align: center;
}
h1 {
    text-align: center;
}
.x:hover {
    display: none;
}