:root {
    --border-color: orange;
    --background-color: bisque;
}

div,nav,h1,p,a,span {
    border: 5px solid var(--border-color);
    background-color: var(--background-color);
    width: 200px;
    margin: 2px;
}
.ra{
    border-radius: 10px;
    border: 5px dotted var(--border-color);
    text-align: center;
    box-shadow: inset 5px 5px 10px rgb(255, 0, 251);}
h1 {
    text-align: center;

}
.x:hover {
    display: none;
}
p{
    padding: 5px 0px 5px 0px;
    margin: 2px 2px 10px 2px;
    /* margin-bottom: 10px; */
    text-align: right;
}
.y{
    height: 200px;
    width: 500px;
    margin: 20px 2px 2px 2px;
    background-image:
    linear-gradient(to right,rgb(255 0 0 / 0.5), rgb(0 0 255 / 0.5)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAy6GLek2GPRW5EQUC4nbULhPfZPvrP9ypog&s);
    background-repeat: repeat, no-repeat;
    background-size: auto, contain;
    background-position: 0 0, center;
}