:root {
    --border-color: orange;
    --background-color: bisque;
}

div,nav,h1,p,a,span {
    border: 5px solid var(--border-color);
    background-color: var(--background-color);
    width: 200px;
    margin: 2px;
}
.ra{
    border-radius: 10px;
    border: 5px dotted var(--border-color);
    text-align: center;
}
h1 {
    text-align: center;

}
.x:hover {
    display: none;
}
p{
    padding: 5px 0px 5px 0px;
    margin: 2px 2px 10px 2px;
    /* margin-bottom: 10px; */
    text-align: right;
}
